* {
  box-sizing: border-box;
}

body {
  width: 630px;
  margin: 4px auto;
  border: 5px solid black;
  border-radius: 30px;
  font-family: "Source Sans Pro", sans-serif;
  color: #252525;
}

h2, .username {
  font-size: 1.2rem;
  font-weight: bold;
}

.post-stats p {
  font-size: 1.2rem;
}

.post-stats h2 {
  font-size: 1.1rem;
}

.container {
  width: 580px;
  margin: 0 auto;
}

#new-post-btn {
  border: none;
  color: white;
  background-color: #0095ff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  font-size: 3rem;
  font-weight: bold;
  margin-left: calc(100% - 80px);
  margin-bottom: 50px;
  cursor: pointer;
}

#new-post-btn:hover, #new-post-btn:focus {
  opacity: .89
}

.post-img {
  width: 620px;
  margin: 0 auto 30px auto;
  display: block;
}

header {
  border-bottom: 1px solid #c4c4c4;
  height: 120px;
  margin-bottom: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header img {
  height: 80px;
  border-radius: 50px;
}

.painter-profile {
  height: 60px;
  margin-bottom: 30px;
}

.painter-profile .container {
  display: flex;
}

.painter-profile img {
  height: 60px;
  border-radius: 60px;
  display: inline;
}

.post-stats {
  margin-bottom: 50px;
}

.painter-profile .container div {
  max-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.painter-profile .container div h2, .painter-profile .container div p {
  margin: 0;
}

.btn-container .container img {
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

.btn-container .container img:hover,
.btn-container .container img:focus {
  opacity: 0.9;
}

fieldset {
  display: none;
}

.active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  height: 600px;
  pointer-events: all !important;
}

.active input {
  position: absolute;
  left: -10990%;
}

.active label i {
  transform: scale(2.5);
  padding: 20px;
  background-color: #0095ff;
  color: #fff;
  clip-path: circle(40%);
  display: block;
  margin: 40px auto 70px auto;
  width: 56px;
  cursor: pointer;
}

.active label i:hover,
.active label i:focus {
  background-color: #0095ffcf;
}

textarea {
  display: block;
}